*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# local files, autogenerte and more
local.properties
app.uid*
/bin
gen/nsl/stg/tests/BuildConfig.java
gen/nsl/stg/tests/R.java

# tracked in the origin repo but omit his modification for git
# https://stackoverflow.com/a/16442091/8091456
# app.info
# project.properties
